

.kast {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  background-color: #f9f9f9;
  text-align: center;
}

.pakett-aktiivne {
  margin: 20px;
  border: 3px solid purple;
}

.must-ring{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: black;
}

.kuldne-ring{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: goldenrod;
}

.sinine-ring{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: blue;
}

.punane-ring{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: red;
}

.lilla-ring{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: purple;
}
