.TopBar{
  height: 1px;
  background-color: rgb(226, 244, 250);
  align-items: center;
  justify-content: center;
  width: 100%;
}
.Container{
  width: 100%;
  background-color: rgb(217, 217, 217);
  display: flex;
  justify-content: center; /* Horisontaalne keskele */
  align-items: flex-start; /* Vertikaalselt tippu */
  height: 150px; /* Täielik lehe kõrgus */
}

