#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;

}

.pilt{
  width: 100px;
  height: 100px;
}
.pilt:hover {
  cursor: pointer;
  opacity: 76%;
}
.pilt:active {
  transform: scale(50%);
}
.nupp{
  background-color: blue;
  color: aqua;
}
.nupp:hover {
border-color: aquamarine;
border-width: 10px;
}
.nupp:active {
text-decoration: underline;
}

.summa-aktiivne{
  border-color: rgb(227, 6, 140);
}

.summa-aktiivne:focus{
  outline: none;
}

.keel-aktiivne{
  font-weight: bold;
}

.linn-aktiivne{
  text-decoration: underline;
}

.kuldne{
  color: goldenrod;
}

.dark{
  background-color: rgb(49, 41, 41);
  color: white;
  min-height: 100vh;
}
/* vh -viewheight in % */
.light{
  background-color: white;
  color: black;
}

th, td{
  border: 1px, solid black;
}