#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pilt{
  width: 100px;
  height: 100px;
}
.pilt:hover {
  cursor: pointer;
  opacity: 76%;
}
.pilt:active {
  transform: scale(50%);
}
.nupp{
  background-color: blue;
  color: aqua;
}
.nupp:hover {
border-color: aquamarine;
border-width: 10px;
}
.nupp:active {
text-decoration: underline;
}
